Repository falcosecurity/client-go, pull requests merged in 2021-01, with the labels that each got.

#50 update(pkg/api): APIs for Falco 0.27
  Makefile
  pkg/api/outputs/mocks/outputs.go
  pkg/api/outputs/outputs.pb.go
  pkg/api/schema/schema.pb.go
  pkg/api/version/mocks/version.go
  pkg/api/version/version.pb.go
Labels: approved, area/api, dco-signoff: yes, kind/feature, lgtm, release-note, size/XXL

#51 fix(pkg/api): put mocks back
  go.mod
  go.sum
  pkg/api/outputs/mocks/outputs.go
  pkg/api/version/mocks/version.go
Labels: approved, area/api, area/tests, dco-signoff: yes, kind/bug, lgtm, release-note-none, size/XL

#52 build: do not process source files when build and testing
  .circleci/config.yml
  Makefile
Labels: approved, dco-signoff: yes, kind/cleanup, lgtm, release-note-none, size/XS
